[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group IRB Owners
[project]
	description = Interface Review Board
	state = read only
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group IRB Owners
	label-Code-Review = -1..+1 group IRB
	label-Security-Review = -1..+1 group SSC Security Reviewers
	label-Code-Review = group Registered Users
	submit = group IRB Owners
[label "Security-Review"]
	function = MaxWithBlock
	value = -1 Do not merge
	value =  0 No score
	value = +1 OK to merge
	defaultValue = 0
